html, body {
    margin: 0;
    padding: 0; 
  }

  header {
    position: fixed;
    z-index: 10;
}
.image-container {
    position: relative; 
    z-index: 1; 
    max-width: 100%; 
    width: 100%; 
    margin: 0 auto; 
}

.image-container img {
    width: 100%; 
    height: auto; 
    display: block; 
}

/* Tekst over billedet */
.image-container .text-overlay {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    padding: 10px 20px;
}
.text-overlay h1{
    font-weight: 600;
    font-size: 60px; 
    text-align: center; 
    font-family: "Nunito", sans-serif;
}


.intro-section {
    text-align: center;
    padding: 20px;
    margin-bottom: 40px;
}

.intro-section p {
    font-size: 18px;
    line-height: 1.5;
    max-width: 800px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    margin-top: 20px;
}

/* Årets gang layout */
.year-timeline {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* To kolonner */
    gap: 10px;
    padding: 0 20px;
    margin-bottom: 100px;
}

.timeline-item {
    text-align: center;
    padding: 100px;
}

.timeline-item img {
    width: 100%;
    height: auto;
    max-width: 500px;
    margin-bottom: 15px;
}

.timeline-item h3 {
    color: #B5956E;
    font-size: 30px;
    margin-bottom: 10px;
    font-family: "Nunito", sans-serif;
}

.timeline-item p {
    font-size: 20px;
    line-height: 1.5;
    font-family: "Inter", sans-serif;
    font-weight: 400; 
}


/* Responsivt design */
@media (max-width: 768px) {
    .text-overlay h1{
        font-size: 40px;
      }
    .year-timeline {
        grid-template-columns: 1fr; /* En kolonne på små skærme */
    }
    .intro-section p{
        font-size: 18px;
    }
}