*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
  }

header {
    position: fixed;
    width: 100%;
    min-height: 60px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

header ul {
    position: relative;   
}

header ul li {
    list-style: none;
    display: inline-block;
    margin: 20px;
    position: relative;
}
header ul li a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 50px;
}
header ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background-color: #013B4C;
    display: none;
    padding: 0;
    margin: 0;
}
header ul li:hover ul {
    display: block; 
}

header ul li ul li {
    position: relative;
    width: 100%;
    padding:0;
    margin: 0;
}

header ul li ul li a {
    display: block; 
    width: 100%; 
    padding: 5px 10px; 
    box-sizing: border-box; 
    text-decoration: none;
    font-size: 18px; 
    font-weight: 600; 
    color: #fff; 
    
}

header ul li ul li a:hover {
    background-color: #B5956E;
}


.fa-caret-down {
    margin-right: 20px; 
    font-size: 18px; 
    display: inline-block; 
    padding: 0;
}

#logo {
    position: relative;
    height: auto;
    width: 120px;
    margin-right: auto;
    margin-top: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #1F373A; 
    color: #fff;
    padding: 30px 40px;
    flex-wrap: nowrap;
    gap: 20px;
}
.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    text-align: left;
    min-width: 200px; 
    margin: 0 10px;
}

.footer-section h3 {
    color: #B5956E; 
    margin-bottom: 10px;
    font-size: 24px;
    font-family: "Albert Sans", sans-serif;
    font-weight: 700;
    text-align: left;
}

.footer-section p {
    margin: 10px 0;
    line-height:1.5;
    font-size: 18px;
    color: #fff;
    text-align: left;
    font-family: "Albert Sans", sans-serif;
    font-weight: 600;
}
.fb-icon {
    margin-top: 20px;
}
.fb-icon img {
    width: 100px;
    height: auto;
    margin-top: 0;
    align-items: flex-start;
}
.footer-section a {
    color: #fff;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    nav {
        display: none; 
    }

    .header{
        padding: 0 20px;
        justify-content: flex-start;
    }
    #logo{
        width: 60px;
        height: auto;
    }
    .header nav{
        position: absolute;
        width: 100%;
        top: 60px;
        left: 0;
        background-color: #013B4C;
        display: none;
    }
    .header.active nav{
        display: initial;
    }
    .header nav ul li{
        width: 100%;
    }
    .header nav ul li ul{
        position: relative;
        width: 100%;
        left: 0;
    }
    .burgermenu{
        position: absolute; 
        top: 30px; 
        right: 20px; 
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 30px;
        cursor: pointer;
    }
    .burgermenu span {
        position: absolute;
        width: 100%;
        height: 5px;
        background-color: #B5956E;
        top: 0; 
        transition: opacity 0.3s ease;
    }
    .burgermenu::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 5px;
        background-color: #B5956E; 
        transition: transform 0.3s, top 0.3s;
    }
    .burgermenu::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 5px;
        background-color: #B5956E; 
        transition: transform 0.3s, top 0.3s;;
    }
    .burgermenu::before {
        top: -10px; /* Placer den øverste linje */
    }
    
    .burgermenu::after {
        top: 10px; /* Placer den nederste linje */
    }
    .header.active .burgermenu span {
        opacity: 0; /* Skjul midterlinjen */
    }
    .header.active .burgermenu::before {
        transform: rotate(45deg); /* Roter øverste linje */
        top: 0; /* Centrér linjen */
    }
    .header.active .burgermenu::after {
        transform: rotate(-45deg); /* Roter nederste linje */
        top: 0; /* Centrér linjen */
    }
    .footer {
        flex-wrap: wrap; 
        text-align: center; 
        padding: 20px 20px; 
    }

    .footer-section {
        margin: 10px auto; 
        text-align: center;
    }

    .footer-section h3 {
        font-size: 20px; 
    }

    .footer-section p {
        font-size: 16px; 
    }

    .fb-icon img {
        width: 60px; 
    }
}