*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
  }
  
header {
    position: fixed;
    width: 100%;
    min-height: 150px;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

header ul {
    position: relative;
}

header ul li {
    list-style: none;
    display: inline-block;
    margin: 10px;
    position: relative;
}
header ul li a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    padding: 40px;
}
header ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background-color: #013B4C;
    display: none;
    padding: 0;
    margin: 0;
}
header ul li:hover ul {
    display: block; /* Vis dropdown-menuen ved hover */
}

header ul li ul li {
    position: relative;
    width: 100%;
    padding:0;
    margin: 0;
}

header ul li ul li a {
    display: block; /* Gør links til blokkelementer, så de står under hinanden */
    width: 100%; /* Gør dem 100% brede */
    padding: 5px 10px; /* Tilføj luft omkring teksten */
    box-sizing: border-box; /* Sørg for, at padding ikke påvirker bredden */
    text-decoration: none;
    font-size: 18px; /* Match headerens tekststørrelse */
    font-weight: 600; /* Match headerens tekstvægt */
    color: #fff; /* Sæt tekstfarven til hvid */
    
}

header ul li ul li a:hover {
    background-color: #B5956E;
}


.fa-caret-down {
    margin: 0 10px; /* Reducer  margin for at mindske afstanden */
    font-size: 18px; /* Juster størrelsen på ikonet, hvis nødvendigt */
    display: inline-block; 
    padding: 0; /* Fjern padding for at reducere afstand */
}

#logo {
    position: absolute;
    top: -45px;
    left: 10px;
    height: auto;
    width: 300px;
    z-index: 1000;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #1F373A; 
    color: #fff;
    padding: 30px 40px;
    flex-wrap: nowrap;
    gap: 20px;
}
.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    text-align: left;
    min-width: 200px; 
    margin: 0 10px;
}

.footer-section h3 {
    color: #B5956E; 
    margin-bottom: 10px;
    font-size: 24px;
    font-family: "Albert Sans", sans-serif;
    font-weight: 700;
    text-align: left;
}

.footer-section p {
    margin: 10px 0;
    line-height:1.5;
    font-size: 18px;
    color: #fff;
    text-align: left;
    font-family: "Albert Sans", sans-serif;
    font-weight: 600;
}
.fb-icon {
    margin-top: 20px;
}
.fb-icon img {
    width: 100px;
    height: auto;
    margin-top: 0;
    align-items: flex-start;
}
.footer-section a {
    color: #fff;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}
