
html, body {
    margin: 0;
    padding: 0; 
  }

  header {
    position: fixed;
    z-index: 10;
}

  .image-container {
    position: relative; /* Gør det muligt at placere tekst oven på billedet */
    z-index: 1; /* Sørger for at billedet er under teksten */
    max-width: 100%; /* Containerens maksimale bredde */
    width: 100%; /* Billedets bredde */
    margin: 0 auto; /* Centrerer containeren */
}

/* Billedet */
.image-container img {
    width: 100%; 
    height: auto; 
    display: block; 
}

/* Tekst over billedet */
.image-container .text-overlay {
    position: absolute; /* Placeres relativt til containeren */
    top: 50%; /* Placer teksten midt på billedet vertikalt */
    left: 50%; /* Placer teksten midt på billedet horisontalt */
    transform: translate(-50%, -50%); /* Flytter teksten for at centrere den */
    color: white; /* Tekstfarve */
    padding: 10px 20px; /* Indre afstand til teksten */
    font-weight: 600;
    font-size: 60px; /* Tekstens størrelse */
    text-align: center; /* Centrerer teksten */
    font-family: "Nunito", sans-serif;
}
.icon-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 20px;
    text-align: center;
}

.icon {
    flex: 1;
    max-width: 300px;
}

.icon img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}
.icon p {
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    margin-top: 10px;
}

.story-section {
    display: flex;
    margin-top: 30px;
    align-items: center;
    padding: 20px 120px;
    background-color: #fff;
    gap: 50px;
}

.story-text {
    flex: 1;
    max-width: 600px;
    text-align: center;
    border: 2px solid #000;
    padding: 30px;
    margin-bottom: 60px;
}
.story-text h3 {
    color: #B5956E;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: "Nunito", sans-serif;
}
.story-text p {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

.story-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.story-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 60px;
}

.two-column-section {
    display: flex;
    justify-content: space-between;
    gap: 0px;
    padding: 20px 130px;
    background-color: #CEC9C4;
    margin-bottom: 100px;
}

.column {
    flex: 1;
    max-width: 500px;
    margin: 0;
    overflow: hidden;
    border: 2px solid #000;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
}

.column img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.column h3 {
    color: #B5956E;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-family: "Nunito", sans-serif;
}
.column p {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: center;
}

.column button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #013B4C;
    color: #fff;
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 40px;
    margin: 20px auto 0;
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.column button:hover {
    background-color: #B5956E;
}
