
html, body {
    margin: 0;
    padding: 0; 
  }

  header {
    position: fixed;
    z-index: 10;
}
 .image-container {
    position: relative; 
    z-index: 1; 
    max-width: 100%; 
    width: 100%; 
    margin: 0 auto; 
}

.image-container img {
    width: 100%; 
    height: auto; 
    display: block; 
}


.image-container .text-overlay {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    padding: 10px 20px; 
    font-weight: 600;
    font-size: 60px; 
    text-align: center; 
    font-family: "Nunito", sans-serif;
}

.icon-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 20px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
}

.icon {
  flex: 1;
  max-width: 300px;
}

.icon img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}
.icon p {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  margin-top: 10px;
}
  .allevine {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    background-color: #E9E3DD;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 100px
  }
  .special-bg {
    background-color:#B5956E4D;
}

 .allevine img {
    width: 50%;
    height: auto;
    margin-bottom: 0;
 }
.produkt-info {
    width: 40%;
    text-align: center;
 }
 .allevine h3 {
    font-size: 30px;
    color: #B5956E;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-family: "Nunito", sans-serif;
 }
 .allevine p {
    font-size: 20px;
    line-height: 1.5;
    font-family: "Inter", sans-serif;
    font-weight: 400; 
    margin-bottom: 15px;
    text-align: center;
 }
 
 .knap {
    display: block;
    margin: 60px auto;
    padding: 10px 40px;
    background-color:#013B4C;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
 }
    .knap:hover {
    background-color: #B5956E;

    }
    @media (max-width: 768px) {
      .text-overlay{
        font-size: 40px;
      }
      .icon-section {
          flex-direction: column;
          align-items: center;
          gap: 15px; 
      }
  
      .icon {
          margin-bottom: 20px; 
      }
  
      .allevine {
          flex-direction: column; 
          text-align: center; 
      }
  
      .allevine img {
        order: 2; /* Billedet vises under teksten */
        width: 500px; 
    }
  
      .produkt-info {
          order: 1; /* Teksten skal komme før billedet */
      }
  
      .produkt-info h3 {
          font-size: 20px; 
      }
  
      .produkt-info p {
          font-size: 16px; 
      }
  }