
html, body {
    margin: 0;
    padding: 0; 
  }

  header {
    position: fixed;
    z-index: 10;
}
 .image-container {
    position: relative; /* Gør det muligt at placere tekst oven på billedet */
    z-index: 1; /* Sørger for at billedet er under teksten */
    max-width: 100%; /* Containerens maksimale bredde */
    width: 100%; /* Billedets bredde */
    margin: 0 auto; /* Centrerer containeren */
}

/* Billedet */
.image-container img {
    width: 100%; /* Fylder hele containerens bredde */
    height: auto; /* Bevarer billedets proportioner */
    display: block; /* Fjerner mellemrum under billedet */
}

/* Tekst over billedet */
.image-container .text-overlay {
    position: absolute; /* Placeres relativt til containeren */
    top: 50%; /* Placer teksten midt på billedet vertikalt */
    left: 50%; /* Placer teksten midt på billedet horisontalt */
    transform: translate(-50%, -50%); /* Flytter teksten for at centrere den */
    color: white; /* Tekstfarve */
    padding: 10px 20px; /* Indre afstand til teksten */
    font-weight: bold; /* Gør teksten fed */
    font-size: 60px; /* Tekstens størrelse */
    text-align: center; /* Centrerer teksten */
}

  .ikoner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 325px;
    margin-top: 40px;
    
  }
  .ikon-boks {
    width: 150px;
    text-align: center;
    margin-bottom: 20px;
  }
  .ikon-boks img {
    width: 150px;
    height: 150px;
  }
  .ikon-boks p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 1.5;
  }
  .allevine {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    background-color: #E9E3DD;
    margin: 50px auto;
    max-width: 100%;
    gap: 20px;
  }
 .allevine img {
    width: 50%;
    height: auto;
 }
.produkt-info {
    width: 40%;
    text-align: center;
 }
 .allevine h2 {
    font-size: 30px;
    color: #B5956E;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
 }
 .allevine p {
    font-size: 20px; ;
    margin-bottom: 15px;
    color: black;
    line-height: 1.5;
    text-align: center;
 }
 .knap {
    display: block;
    margin: 60px auto;
    padding: 10px 40px;
    background-color:#013B4C;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
 }
    .knap:hover {
    background-color: #B5956E;
    }
