
html, body {
    margin: 0;
    padding: 0; 
  }

  header {
    position: fixed;
    z-index: 10;
}
 .image-container {
    position: relative; /* Gør det muligt at placere tekst oven på billedet */
    z-index: 1; /* Sørger for at billedet er under teksten */
    max-width: 100%; /* Containerens maksimale bredde */
    width: 100%; /* Billedets bredde */
    margin: 0 auto; /* Centrerer containeren */
}

.image-container img {
    width: 100%; /* Fylder hele containerens bredde */
    height: auto; /* Bevarer billedets proportioner */
    display: block; /* Fjerner mellemrum under billedet */
}


.image-container .text-overlay {
    position: absolute; /* Placeres relativt til containeren */
    top: 50%; /* Placer teksten midt på billedet vertikalt */
    left: 50%; /* Placer teksten midt på billedet horisontalt */
    transform: translate(-50%, -50%); /* Flytter teksten for at centrere den */
    color: white; /* Tekstfarve */
    padding: 10px 20px; /* Indre afstand til teksten */
    font-weight: 600;
    font-size: 60px; /* Tekstens størrelse */
    text-align: center; /* Centrerer teksten */
    font-family: "Nunito", sans-serif;
}

.icon-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 20px;
  text-align: center;
}

.icon {
  flex: 1;
  max-width: 300px;
}

.icon img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}
.icon p {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  margin-top: 10px;
}
  .allevine {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    background-color: #E9E3DD;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 100px
  }
  .special-bg {
    background-color:#B5956E4D;
}

 .allevine img {
    width: 50%;
    height: auto;
    margin-bottom: 0;
 }
.produkt-info {
    width: 40%;
    text-align: center;
 }
 .allevine h3 {
    font-size: 30px;
    color: #B5956E;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-family: "Nunito", sans-serif;
 }
 .allevine p {
    font-size: 20px;
    line-height: 1.5;
    font-family: "Inter", sans-serif;
    font-weight: 400; 
    margin-bottom: 15px;
    text-align: center;
 }
 
 .knap {
    display: block;
    margin: 60px auto;
    padding: 10px 40px;
    background-color:#013B4C;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
 }
    .knap:hover {
    background-color: #B5956E;
    }
