
html, body {
    margin: 0;
    padding: 0; 
  }

  header {
    position: fixed;
    z-index: 10;
}

  .image-container {
    position: relative; /* Gør det muligt at placere tekst oven på billedet */
    z-index: 1; /* Sørger for at billedet er under teksten */
    max-width: 100%; /* Containerens maksimale bredde */
    width: 100%; /* Billedets bredde */
    margin: 0 auto; /* Centrerer containeren */
}

/* Billedet */
.image-container img {
    width: 100%; 
    height: auto; 
    display: block; 
}

/* Tekst over billedet */
.image-container .text-overlay {
    position: absolute; /* Placeres relativt til containeren */
    top: 50%; /* Placer teksten midt på billedet vertikalt */
    left: 50%; /* Placer teksten midt på billedet horisontalt */
    transform: translate(-50%, -50%); /* Flytter teksten for at centrere den */
    color: white; /* Tekstfarve */
    padding: 10px 20px; /* Indre afstand til teksten */
    font-weight: 600;
    font-size: 60px; /* Tekstens størrelse */
    text-align: center; /* Centrerer teksten */
}

  /* velkomst */
  .velkomst{
    text-align: center;
    margin-top: 100px; 
    margin-bottom: 40px;
  }
  .velkomst h1{
    text-align: center;
    color: #B5956E;
    margin-bottom: 30px;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 60px;
  }
  .velkomst p{
    font-size: 20px;
    line-height: 1.5;
    font-family: "Inter", sans-serif;
    font-weight: 400; 
    color: #000000;
  }
  .text-overlay {
    font-size: 60px; 
    text-align: center; 
    font-family: "Nunito", sans-serif;
}

  h1, h3 {
    color: #B5956E;
    text-align: center;
}

h3 {
    font-size: 30px;
    font-family: "Nunito", sans-serif;
}

p {
    margin: 10px 0;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 20px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    gap: 50px;
}

.about-text {
    flex: 1;
    max-width: 45%;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 2px;
    padding: 40px;
}
.about p {
    line-height: 1.5;
    margin-bottom: 20px;
}

.about-images {
    display: flex;
    justify-content: center;
    flex: 1;
}

.about-images img {
    width: 100%;
    height: auto;
}

button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #013B4C;
    color: #fff;
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 40px;
    margin-top: 20px;
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

button:hover {
    background-color: #B5956E;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    padding: 50px;
    margin-top: 40px;
}
.cards p {
    line-height: 1.5;
    font-size: 20px;
    margin-bottom: 20px;
}

.card {
    flex: 1 1 calc(45% - 20px);
    max-width: 400px; 
    background-color:#B5956E4D;
    border: 1px solid #ddd;
    overflow: hidden;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 100px;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card h3 {
    margin: 20px 0 10px;
}

.card button {
    margin-top: auto;
    margin: 20px auto;
}