
html, body {
    margin: 0;
    padding: 0; 
  }

  header {
    position: fixed;
    z-index: 10;
}

  .image-container {
    position: relative; 
    z-index: 1; 
    max-width: 100%;
    width: 100%; 
    margin: 0 auto; 
}

.image-container img {
    width: 100%; 
    height: auto; 
    display: block; 
}

/* Tekst over billedet */
.image-container .text-overlay {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    font-weight: 600;
    font-size: 60px; 
    text-align: center; 
}

  .velkomst{
    text-align: center;
    margin-top: 50px; 
    margin-bottom: 40px;
  }
  .velkomst h1{
    text-align: center;
    color: #B5956E;
    margin-bottom: 30px;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 60px;
  }
  .velkomst p{
    font-size: 20px;
    line-height: 1.5;
    font-family: "Inter", sans-serif;
    font-weight: 400; 
    color: #000000;
  }
  .text-overlay {
    font-size: 60px; 
    text-align: center; 
    font-family: "Nunito", sans-serif;
}

  h1, h3 {
    color: #B5956E;
    text-align: center;
}

h3 {
    font-size: 30px;
    font-family: "Nunito", sans-serif;
    margin-bottom: 20px;
}

p {
    margin: 10px 0;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    gap: 50px;
}

.about-text {
    flex: 1;
    max-width: 45%;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 2px;
    padding: 45px;
}
.about p {
    line-height: 1.5;
    margin-bottom: 20px;
}

.about-images {
    display: flex;
    justify-content: center;
    flex: 1;
}

.about-images img {
    width: 100%;
    max-height: 480px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #013B4C;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 20px;
    border-radius: 5px;
    margin: 20px auto; /* Ens margin for centrering */
}

.button:hover {
    background-color: #B5956E;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    padding: 50px;
    margin-top: 40px;
}
.cards p {
    line-height: 1.5;
    font-size: 20px;
    margin-bottom: 20px;
}

.card {
    flex: 1 1 calc(45% - 20px);
    max-width: 400px; 
    background-color:#B5956E4D;
    border: 1px solid #ddd;
    overflow: hidden;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 100px;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card h3 {
    margin: 20px 0 10px;
}

.card button {
    margin-top: auto;
    margin: 20px auto;
}

@media (max-width: 768px) {
    .text-overlay h1{
        font-size: 40px;
      }
    .text-overlay p{
        font-size: 16px;
    }
    
    .velkomst h3{
        font-size: 25px;
    }
    .velkomst p{
        font-size: 16px;
    }

    .about {
        flex-direction: column; /* Skift layout til lodret */
        text-align: center;
    }

    .about-text {
        max-width: 100%; 
        margin: 0 auto; 
    }

    .about-text h3 {
        font-size: 25px; 
    }

    .about-text p {
        font-size: 16px; 
    }

    .about-text button {
        font-size: 14px; 
    }
  
    .about-images img {
        max-width: 480px; 
    }

    /* Kortene */
    .cards {
        flex-direction: column; /* Skift layout til lodret */
        align-items: center; /* Centrer kortene */
    }

    .card {
        max-width: 400px; /* Sæt en maksimal bredde på kortene */
        margin-bottom: 20px; /* Luft mellem kortene */
    }
}
